@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* ==== Layout helpers ==== */
html,
body {
  height: 100%;
}

body {
  overflow-x: hidden; /* previne scroll orizontal */
}

html {
  scroll-behavior: smooth; /* pentru navigație lină între secțiuni */
}

